<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">URL Shortener</h1>
      <form action="/shortUrl" method="post" class="my-4">
        <div class="row">
          <div class="col">
            <input
              type="url"
              name="fullUrl"
              id="fullUrl"
              required
              class="form-control"
              placeholder="Url"
              aria-label="url"
            />
          </div>

          <div class="col">
            <button type="submit" class="btn btn-primary">Short</button>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped" id="table">
          <thead>
            <tr>
              <th scope="col">Sr. No</th>
              <th>Full URL</th>
              <th>Short URL</th>
              <th></th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% for( x in Urls) { %>
            <tr>
              <th scope="col"><%= parseInt(x)+1 %></th>
              <td>
                <a href="<%= Urls[x].full %>" target="_blank"
                  ><%= Urls[x].full %></a
                >
              </td>
              <td>
                <a id="shortUrlCopy" href="<%= Urls[x].short %>" target="_blank"
                  ><%= Urls[x].short %></a
                >
              </td>
              <td>
                <button class="btn " id="copy" onclick="copy()">Copy</button>
              </td>
              
              <td><%= Urls[x].clicks %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script>
    function copy(){
    let inp = document. getElementById("shortUrlCopy"). getAttribute("href");
    document.execCommand('copy', false);
    inp='https://url-js.herokuapp.com/'+inp;
    console.log(inp)
    alert('copied');
}
  </script>
</html>
